<p style="color: green"><%= notice %></p>
<div id="products">
  <div>Products</div>
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
    <ul>
      <% @tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
